body {
  max-width: 1100px;
  font-family: 'EB Garamond', serif;
  margin: auto;
}

.header {
  height: 120px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 15px 30px 15px;
}

.site-title {
  font-size: 60px;
}

.date {
  font-size: 25px;
  font-family: 'Italianno', cursive;
}

.content {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.column {
  margin: 0px 30px 0px 30px;
  flex: 1;
}

.middle-column {
  margin-top: -10px;
}

.content-header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.story-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.story {
  margin-bottom: 50px;
}

.story-day-title {
  font-size: 27px;
}

@media (max-width: 840px) {
  .content {
    flex-direction: column;
  }
  .column {
    margin: 0px 0px;
  }
  .left-column {
    order: 2;
  }
  .middle-column {
    order: 1;
  }
  .right-column {
    order: 3;
  }
  .story {
    margin-bottom: 20px;
  }
  body {
    max-width: 400px;
  }
}